.rs_columns_w33,
.rs_columns_w20 {
  position: relative;
  float: left;
  width: 29%;
  min-height: 80px;
}
.rs_columns_w33.m12,
.rs_columns_w20.m12 {
  min-height: 46px;
}

.rs_columns_w20 {
  width: calc(20% - 30px);
}

@media (max-width: 767px) {
  .rs_columns_w33,
  .rs_columns_w20 {
	float: none;
	width: calc(100% - 30px);
	min-height: 0;
  }
  .rs_columns_w33.m12,
  .rs_columns_w20.m12 {
	min-height: 0;
  }
}
