.rs_columns_w33,
.rs_columns_w25 {
  position: relative;
  float: left;
  width: 33%;
  height: 72px;
}
.rs_columns_w33 .tl_text, .rs_columns_w33 .tl_select,
.rs_columns_w25 .tl_text,
.rs_columns_w25 .tl_select {
  width: 85%;
}
.rs_columns_w33 .tl_help,
.rs_columns_w25 .tl_help {
  margin-right: 24px;
}

.rs_columns_w25 {
  width: 25%;
}

@media (max-width: 767px) {
  .rs_columns_w33,
  .rs_columns_w25 {
    float: none;
    width: 100%;
    height: auto;
  }
  .rs_columns_w33 .tl_text, .rs_columns_w33 .tl_select,
  .rs_columns_w25 .tl_text,
  .rs_columns_w25 .tl_select {
    width: 100%;
  }
  .rs_columns_w33 .tl_help,
  .rs_columns_w25 .tl_help {
    margin-right: 0;
  }
}
