.rs-columns {
  clear: both;
  display: block;
  margin-right: -2.5%;
  margin-left: -2.5%;
}
.rs-columns:before, .rs-columns:after {
  content: " ";
  display: table;
}
.rs-columns:after {
  clear: both;
}

.rs-column {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-right: 2.38095%;
  padding-left: 2.38095%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rs-column.-large-first {
  clear: left;
}
.rs-column.-large-col-1-1 {
  width: 100%;
}
.rs-column.-large-col-2-1 {
  width: 50%;
}
.rs-column.-large-col-2-2 {
  width: 100%;
}
.rs-column.-large-col-3-1 {
  width: 33.33333%;
}
.rs-column.-large-col-3-2 {
  width: 66.66667%;
}
.rs-column.-large-col-3-3 {
  width: 100%;
}
.rs-column.-large-col-4-1 {
  width: 25%;
}
.rs-column.-large-col-4-2 {
  width: 50%;
}
.rs-column.-large-col-4-3 {
  width: 75%;
}
.rs-column.-large-col-4-4 {
  width: 100%;
}
.rs-column.-large-col-5-1 {
  width: 20%;
}
.rs-column.-large-col-5-2 {
  width: 40%;
}
.rs-column.-large-col-5-3 {
  width: 60.0%;
}
.rs-column.-large-col-5-4 {
  width: 80%;
}
.rs-column.-large-col-5-5 {
  width: 100%;
}
.rs-column.-large-col-6-1 {
  width: 16.66667%;
}
.rs-column.-large-col-6-2 {
  width: 33.33333%;
}
.rs-column.-large-col-6-3 {
  width: 50%;
}
.rs-column.-large-col-6-4 {
  width: 66.66667%;
}
.rs-column.-large-col-6-5 {
  width: 83.33333%;
}
.rs-column.-large-col-6-6 {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .rs-column.-large-first {
    clear: none;
  }
  .rs-column.-medium-first {
    clear: left;
  }
  .rs-column.-medium-col-1-1 {
    width: 100%;
  }
  .rs-column.-medium-col-2-1 {
    width: 50%;
  }
  .rs-column.-medium-col-2-2 {
    width: 100%;
  }
  .rs-column.-medium-col-3-1 {
    width: 33.33333%;
  }
  .rs-column.-medium-col-3-2 {
    width: 66.66667%;
  }
  .rs-column.-medium-col-3-3 {
    width: 100%;
  }
  .rs-column.-medium-col-4-1 {
    width: 25%;
  }
  .rs-column.-medium-col-4-2 {
    width: 50%;
  }
  .rs-column.-medium-col-4-3 {
    width: 75%;
  }
  .rs-column.-medium-col-4-4 {
    width: 100%;
  }
  .rs-column.-medium-col-5-1 {
    width: 20%;
  }
  .rs-column.-medium-col-5-2 {
    width: 40%;
  }
  .rs-column.-medium-col-5-3 {
    width: 60.0%;
  }
  .rs-column.-medium-col-5-4 {
    width: 80%;
  }
  .rs-column.-medium-col-5-5 {
    width: 100%;
  }
  .rs-column.-medium-col-6-1 {
    width: 16.66667%;
  }
  .rs-column.-medium-col-6-2 {
    width: 33.33333%;
  }
  .rs-column.-medium-col-6-3 {
    width: 50%;
  }
  .rs-column.-medium-col-6-4 {
    width: 66.66667%;
  }
  .rs-column.-medium-col-6-5 {
    width: 83.33333%;
  }
  .rs-column.-medium-col-6-6 {
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .rs-column.-medium-first {
    clear: none;
  }
  .rs-column.-small-first {
    clear: left;
  }
  .rs-column.-small-col-1-1 {
    width: 100%;
  }
  .rs-column.-small-col-2-1 {
    width: 50%;
  }
  .rs-column.-small-col-2-2 {
    width: 100%;
  }
  .rs-column.-small-col-3-1 {
    width: 33.33333%;
  }
  .rs-column.-small-col-3-2 {
    width: 66.66667%;
  }
  .rs-column.-small-col-3-3 {
    width: 100%;
  }
  .rs-column.-small-col-4-1 {
    width: 25%;
  }
  .rs-column.-small-col-4-2 {
    width: 50%;
  }
  .rs-column.-small-col-4-3 {
    width: 75%;
  }
  .rs-column.-small-col-4-4 {
    width: 100%;
  }
  .rs-column.-small-col-5-1 {
    width: 20%;
  }
  .rs-column.-small-col-5-2 {
    width: 40%;
  }
  .rs-column.-small-col-5-3 {
    width: 60.0%;
  }
  .rs-column.-small-col-5-4 {
    width: 80%;
  }
  .rs-column.-small-col-5-5 {
    width: 100%;
  }
  .rs-column.-small-col-6-1 {
    width: 16.66667%;
  }
  .rs-column.-small-col-6-2 {
    width: 33.33333%;
  }
  .rs-column.-small-col-6-3 {
    width: 50%;
  }
  .rs-column.-small-col-6-4 {
    width: 66.66667%;
  }
  .rs-column.-small-col-6-5 {
    width: 83.33333%;
  }
  .rs-column.-small-col-6-6 {
    width: 100%;
  }
}
